* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    overflow-x: hidden;

}




body 
{
    background-color: black;
}


.menutog
{
    width: 20px;
}

#Navbrand
{
    color: whitesmoke;
    font-size: 30px;
}

#Navbrand span
{
    color: #ff5421;
}


.nav-item a
{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;


}

.nav-item a:hover
{
    color: #ff5421;
    transition: 1s;
}



.question
{
    font-size: 60px;
    color: whitesmoke;
}

#getstart
{
    background-color: #ff5421;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 2px;
    
}

#getstart:hover
{
    background-color: black;
    transition: 1s;
    color: #ff5421;
    
}












.homePage {
    background-image: url("../images/landingpage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}


.socials img{
    width: 20px;
}

footer
{
    margin-top: 15%;
}