*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
     background-color: black; 
}
.form-visa{
    display: flex;
    flex-wrap: wrap;
     background-color: gray;
     color: black;
     min-height: 100px;
     width: 920px;
     margin: 100px;
     border-radius: 5px;
     
}
     
.form-visa p{
  
    text-align: left;
    font-size: 20px;

}
.form-visa input{

    font-size: 16px;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
    
} 
.form-visa button{
    
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border-radius: 5px;
    background-color: #ff5421;

}